body {
  overflow-x: hidden;
}

.background {
  background-color: #0000FF;
  font-family: Helvetica;
}

.header {
  color: #000000;
  font-family: helvetica;
  text-align: center;
  font-size: xx-large;
}

.arrow {
  position:relative;
  top: 155px;
  transform: translateY(-50%);
  color: #FFA500;
  font-size: 60pt;
}
.row-size {
  height: 310px;
}

.row-color {
  background-color: #e6e6e6;
}
.row-1-text {
  text-align: center;
  font-size: 24pt;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal {
  float: left;
}

.results-main {

}

.title-text {
  text-align: center;
  font-size: 32pt;
  font-family: Helvetica;
}

.class-list-table {
  background-color: #e6e6e6;
  text-align: center;
  font-size: 15pt;
}

#classList {
  width: 480px;
  margin: 10px auto;
}

#classList .class:hover:before {
  content: '✘';
  color: #A00;
  position: absolute;
  right: 5px;
}

textarea {
   resize: none;
}

#prereqList li {
  border-radius: 2px;
  list-style: none;
  background: #eee;
  padding: 5px 10px;
  margin-bottom: 5px;
  position: relative;
}

#prereqList li:nth-child(2n){
  background: #ccc;
}

.highlight {
  background-color: orange !important;
}
