<!DOCTYPE html>
<html>
<head>
  <title>GatorPik.com - the unofficial UF course scheduler</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/style-new.css" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</head>
<body>

<div class="container">

  <!-- HEADER -->
  <div class="row">
    <span class="col-md-3 header">
      <span class="ufblue">G</span><span class="uforange">ator</span><span class="ufblue">P</span><span class="uforange">ik</span>
    </span>
    <span class="subheader">
      The Unofficial UF Scheduler
    </span>
    <span class="col-md-9 divider">
    </span>
  </div>
  <!-- END HEADER -->

</div>
<div class="container-fluid">
  <!-- SUBTEXT AND VIDEO -->
  <div class="hero-unit">
  <div class="row">
    <div style="height: 50px;"></div>
    <h2 class="col-md-offset-3 col-md-6 text-center">A tool to help UF students plan their course schedule.<br><br>  This tool works by scanning your Degree Audit, analyzing the courses you still need to take,
    and ensuring all prerequisites are met.  A <i>tentative</i> list is then generated of which classes you should take in which order.</h2>
  </div>
  <div style="height: 50px;"></div>
  <div class="row">
    <video class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-8 col-xs-offset-2 col-lg-offset-4 col-lg-4" controls>
      <source src="/instructions.mp4" type="video/mp4">
      Your browser doesn't support the video tag. Please view in a different browser.
    </video>
  </div>
</div>
</div>

<div class="container">
  <!-- END SUBTEXT AND VIDEO -->

  <div style="height: 50px;"></div>


  <!-- INPUT BOXES -->

<form action="/api/startCalc" method="post">
  <div class="row">
    <!-- left box -->
    <div class="col-md-offset-2 col-sm-offset-2 col-md-3">
      <textarea name="met" rows="5" cols="25" class="center-vertical" style="font-size: 12pt" placeholder="Paste your Critical Tracking Audit here."></textarea>
    </div>
    <!-- arrow -->
    <div class="col-md-1 arrow col-sm-1">◀</div>
    <!-- right box -->
    <div class="well row-size col-md-4 col-sm-4">
      <p>ISIS > Degree Audit ></p>
      <h2>Critical Tracking Audit</h2>
    </div>
 </div>


<!-- break -->
<div class="row" style="height: 30px"></div>

<!-- unmet requirements -->
<div class="row">
  <!-- left box -->
  <div class="well col-md-offset-2 col-sm-offset-2 col-md-4 col-sm-4 text-right">
    <p>ISIS > Degree Audit ></p>
    <h2>Unmet Requirements</h2>
  </div>
  <!-- arrow -->
  <div class="col-md-1 arrow col-xs-1">▶</div>
  <!-- right box -->
  <div class="col-md-3 col-sm-3">
    <textarea name="unmet" rows="5" cols="25" class="center-vertical" style="font-size: 12pt" placeholder="Paste your Unmet Requirements here."></textarea>
  </div>
</div>

  <!-- END INPUT BOXES -->

  <input class="btn btn-primary col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2" type="submit" value="Go!"></input>

</form>

</div>

</body>
</html>
