<!doctype html>
<html ng-app>
<head>
  <link href="/css/style.css" rel="stylesheet">
  <script src="/js/jquery.js"></script>
</head>
<body>

  <div class="outer">

    <div class="header">
      <strong>University of Florida Scheduler</strong>
    </div>

    <div class="inner">
      <form action="#" id="classesForm">
          <table>
            <tr>
              <td>
                <div>Already Completed:</div>
                <textarea id="completed"></textarea>
              </td>
              <td>
                <div>Unmet Requirements:</div>
                <textarea id="unmet"></textarea>
              </td>
            </tr>
          </table>

          <input type="submit" value="Next">
        </form>
    </div>

  </div>

  <script src="/js/main.js">

  </script>

</body>
</html>
