<!doctype html>
<html ng-app>
<head>
  <link href="/css/style.css" rel="stylesheet">
  <script src="/js/jquery.js"></script>
</head>
<body>

  <div class="outer">

    <div class="header">
      <strong>University of Florida Scheduler</strong>
    </div>

    <div class="inner">
      <form action="#" id="classesForm">
          <input id="newitem" placeholder="Class Number" type="text"></input>
          <input id="add" type="submit" value="Add"></input>

            <table id="classList">
            </table>
        </form>
    </div>

  </div>

  <script src="/js/main.js">

  </script>

</body>
</html>
